{% extends "base.html" %}

{% block content %}
    {% if booking_success %}
    
<div class="alert alert-dismissible alert-success">
  <button type="button" class="close" data-dismiss="alert">&times;</button>
  <strong>Congrats,</strong> You have successfully created a booking for this car. Someone from our staff will contact you shortly.
</div>
    {% endif %}

<div class="jumbotron">
<div class="row">
  <div class="col-sm-4"><h1 class="display-6">{{ object.name }}</h1><img class="image" src="{{ car.image.url }}" /></div>
  <div class="col-sm-8"><br><br><br><br><br>
	<p class="lead">{{ object.description }}</p>
	<hr class="my-4">
	  <p><strong> Rs. {{ object.daily_rent }} / km</strong></p>
	  <p class="lead">
	    <a class="btn btn-primary btn-lg" href="{% url 'new-booking' car_pk=object.pk %}" role="button">Book Now</a>
	  </p>
	</div>

</div>

  
  
  
</div>
<!-- Original 
    <h1>{{ object.name }}</h1>
	<center>
    <img class ="image" src="{{ object.image.url }}" />
	</center>
    <p>{{ object.description }}</p>
    <p>Rs. {{ object.daily_rent }} / hr</p>

    <a href="{% url 'new-booking' car_pk=object.pk %}">Book Now</a>
-->
{% endblock %}
