{% extends "base.html" %}

{% block content %}
<h1>Our Cars</h1>

<div class="container">

      <!-- Heading Row -->
      <div class="row my-4">
        <div class="col-lg-8">
          <img class="img-fluid rounded" src="http://placehold.it/900x400" alt="">
        </div>
        <!-- /.col-lg-8 -->
        <div class="col-lg-4">
          <h1>Business Name or Tagline</h1>
          <p>This is a template that is great for small businesses. It doesn't have too much fancy flare to it, but it makes a great use of the standard Bootstrap core components. Feel free to use this template for any project you want!</p>
          <a class="btn btn-primary btn-lg" href="#">Call to Action!</a>
        </div>
        <!-- /.col-md-4 -->
      </div>
      <!-- /.row -->

      <!-- Call to Action Well -->
      <div class="card text-white bg-secondary my-4 text-center">
        <div class="card-body">
          <p class="text-white m-0">This call to action card is a great place to showcase some important information or display a clever tagline!</p>
        </div>
      </div>

      <!-- Content Row -->
{% for car in cars %}
<table class="table">
<td>
      <div class="row">
        <div class="col-md-4 mb-4">
          <div id="card_col" class="card h-100">
            <div class="card-body">
              <h2 class="card-title">Card One</h2>
              <p class="card-text">

	<div class="image">
            <img src="{{ car.image.url }}" />
	</div>

        </div>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Rem magni quas ex numquam, maxime minus quam molestias corporis quod, ea minima accusamus.</p>
            </div>
            <div class="card-footer">
              <a href="#" class="btn btn-primary">More Info</a>
            </div>
          </div>
        </div>
</td>
</table>
     {% endfor %}

    <!-- Footer -->
    <footer class="py-5 bg-dark">
      <div class="container">
        <p class="m-0 text-center text-white">Copyright &copy; Your Website 2017</p>
      </div>
      <!-- /.container -->
    </footer>

<!---Original-->
<ul class="car-list">
    {% for car in cars %}
    <li class="car-list-item">
        <div class="image">
            <img src="{{ car.image.url }}" />
        </div>
        <div class="name">
            <a href="{{ car.get_absolute_url }}">{{ car.name }}</a>
        </div>
        <div class="rent">
            Rs. {{ car.daily_rent }} / hr
        </div>
    </li>
    {% endfor %}
</ul>
{% endblock %}
